<% if !current_user?(post.user) %>
	<span class="like">
		<% if post.like?(current_user) %>
			<%= form_for(post.favorites.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
				<%= button_tag(class: "btn btn-default btn-xs") do %>
				<%= content_tag :span, "お気に入り解除", class: "glyphicon glyphicon-heart" %>
				<% end %>
			<% end %>
		<% else %>
			<%= form_for(post.favorites.build, remote: true) do |f| %>
				<div><%= hidden_field_tag :post_id, post.id %></div>
					<%= button_tag(class: "btn btn-default btn-xs") do %>
						<%= content_tag :span, "お気に入り", class: "glyphicon glyphicon-heart-empty" %>
					<% end %>
			<% end %>
		<% end %>
	</span>
<% end %>