<section class="user_info">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <% if @user.icon? %>
          <%= image_tag @user.icon.url, class: "icon", :size => "150x150" %>
        <% end %>
        <% if @user == current_user %>
          <div>
            <%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-outline-secondary" %>
          </div>
          <div>
            <%= link_to "アカウント削除", user_path, method: :delete, data: { confirm: "アカウントを削除しますか?" }, class: "btn btn-danger"%>
          </div>
        <% end %>
      </div>
      <div class="col-md-10">
        <table>
          <tr class>
            <th>名前</th>
            <td><%= @user.name %></td>
          </tr>
          <tr class="user_info_details">
            <th>自己紹介</th>
            <td><%= @user.profile %></td>
          </tr>
          <tr class="user_info_details">
            <th>英語力がアップして良かった点</th>
            <td><%= @user.good_point %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
<!--投稿一覧-->
<div>
  <% @posts.each do |post| %>

  <% end %>
</div>