<%= @user.name %>
<div class="row">
  <div class="col-md-8">
    <%= @post.title %>
    <%= @post.content %>
    <%= @post.material %>
  </div>
</div>
<!--お気に入り機能-->
<%= render "favorites/favorite", post: @post %>