<header>
  <div class="header-menu">
    <%= link_to "ENPROVE", root_path %>
    <% if logged_in? %>
      <nav>
        <ul class="header-menu-right">
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "myページ", user_path(current_user) %></li>
          <li><%= link_to "検索", "#" %></li>
          <li><%= link_to "投稿", new_post_path %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        </ul>
      </nav>
    <% else %>
      <nav>
        <ul class="header-menu-right">
          <li><%= link_to "ホーム", root_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
          <li><%= link_to "ENPROVEについて", "#" %></li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>